mw-podium-item {
	.podium-item-wrapper {
		position: relative;
		border-radius: 50%;
		aspect-ratio: 1 / 1;
		border: 1px solid $primary-brown-2;
		background-color: $primary-gray-1;
		color: $primary-black;
		max-width: 300px;

		display: grid;
		place-items: center;

		.rate {
			position: absolute;
			right: 15%;
			top: 0.6em;
			color: $primary-white;
			background-color: $primary-brown-1;
			width: 1.5em;
			height: 1.5em;
			border-radius: 50%;
			font-size: 1.4em;
			display: grid;
			place-items: center;
		}

		.gold {
			background-color: $secondary-gold;
		}

		.silver {
			background-color: $secondary-silver;
		}

		.bronze {
			background-color: $secondary-bronze;
		}

		.position {
			position: absolute;
			right: 15%;
			bottom: 0;
			color: $primary-white;
			border-radius: 50%;
			width: 2em;
			height: 2em;
			font-size: 1.4em;
			display: grid;
			place-items: center;
		}

		img {
			aspect-ratio: 1 / 1;
			border-radius: 50%;
			max-width: 130px;
			margin-top: 1em;
		}

		.title {
			align-self: start;
		}

		.opinions {
			position: absolute;
			top: 1em;
		}
	}
}
