<div class="input-container">
	<ng-container
		*ngTemplateOutlet="!!search ? nonCollapsable : collapsable"
	></ng-container>
	<div class="collapse collapse-horizontal" id="collapseInput">
		<div class="inputDiv">
			<input
				type="text"
				[formControl]="searchControl"
				(input)="query$.next(search)"
				(click)="showResults()"
			/>
		</div>
		<div class="search-box" *ngIf="!!search && resultsVisible">
			<div class="results" *ngIf="hasData; else noResults">
				<div class="close-btn" (click)="hideResults()">
					<span class="material-symbols-outlined"> close </span>
				</div>
				<mw-search-tile
					class="pointer"
					*ngFor="let searchData of results; trackBy: identify"
					[searchData]="searchData"
					[routerLink]="['details', searchData.id]"
					(click)="hideResults()"
				></mw-search-tile>
			</div>
			<ng-template #noResults>
				<div class="results no-results">
					<div class="close-btn" (click)="hideResults()">
						<span class="material-symbols-outlined"> close </span>
					</div>
					<span>No results</span>
				</div>
			</ng-template>
		</div>
	</div>
</div>

<ng-template #collapsable>
	<img
		[src]="'assets/icons/searchIcon.svg'"
		[alt]="'Search'"
		class="searchIcon icon"
		data-bs-toggle="collapse"
		data-bs-target="#collapseInput"
	/>
</ng-template>

<ng-template #nonCollapsable>
	<img
		[src]="'assets/icons/searchIcon.svg'"
		[alt]="'Search'"
		class="searchIcon icon"
	/>
</ng-template>
