mw-search {
	.input-container {
		display: flex;
		height: 100%;

		.inputDiv {
			display: grid;
			height: 100%;
			align-items: center;

			input {
				border-radius: 10px;
				border: none;
				font-size: 1.3rem;
				min-width: 250px;
				width: 30vw;
				padding: 0.2em;
				outline: none;
				background-color: $primary-white;
				color: $primary-black;
			}

			@media screen and (max-width: 650px) {
				input {
					width: 60vw;
					font-size: 1.1rem;
				}
			}
		}
	}
}
