<div class="contentWrapper">
	<div class="content">
		<div class="details">
			<div class="cover" *ngIf="track">
				<img class="cover-img" [srcset]="track | coverSrcset" />
			</div>
			<div class="info" *ngIf="track">
				<div class="mobile-favorite-wrapper">
					<div class="mobile-favorite-box">
						<img
							class="mobile-favorite-icon"
							src="assets/icons/favoriteIcon.svg"
							[ngClass]="
								!!track.isFavourite ? 'in-favourite' : ''
							"
							(onclick)="addToFav()"
						/>
					</div>
				</div>
				<div class="song-title row">
					<div class="col h1">{{ track.title }}</div>
				</div>
				<mw-text-with-label
					id="your-grade"
					class="row"
					[label]="'Your grade'"
					[message]="'0'"
					*ngIf="track.grade"
				></mw-text-with-label>

				<mw-text-with-label
					class="row"
					[label]="'Ratings'"
					[message]="'0'"
					[messageTemplate]="ratingMessageTemplate"
				></mw-text-with-label>

				<mw-text-with-label
					class="row"
					[label]="'Artist'"
					[message]="track.artist.name"
				></mw-text-with-label>

				<mw-text-with-label
					*ngIf="track.genre"
					class="row"
					[label]="'Genre'"
					[message]="track.genre"
				></mw-text-with-label>

				<mw-text-with-label
					class="row"
					[label]="'Album'"
					[message]="track.albumTitle"
				></mw-text-with-label>

				<mw-text-with-label
					class="row"
					[label]="'Duration'"
					[message]="track.duration | duration"
				></mw-text-with-label>

				<mw-text-with-label
					class="row"
					[label]="'Release date'"
					[message]="track.releaseData"
				></mw-text-with-label>
			</div>
			<div class="favorite-box">
				<img
					class="favorite-icon"
					src="assets/icons/favoriteIcon.svg"
					[ngClass]="!!track.isFavourite ? 'in-favourite' : ''"
					(onclick)="addToFav()"
				/>
			</div>
		</div>
		<div class="reviews"></div>
	</div>
</div>

<ng-template #ratingMessageTemplate>
	<div>
		<span class="align-middle">{{ track.rating?.rate || '0' + ' ' }}</span>
		<span class="align-middle icon-middle">
			<ng-container
				*ngTemplateOutlet="
					track.grade === 0 ? filledStar : unfilledStar
				"
			></ng-container>
			<ng-container
				*ngIf="isReviewBoxOpen"
				[ngTemplateOutlet]="reviewOpen"
			></ng-container>
		</span>
		<span class="align-middle" *ngIf="!!track.rating?.gradeCounts"
			>{{ ' based on ' + track.rating?.gradeCounts }}
		</span>
	</div>
</ng-template>

<ng-template #filledStar>
	<img
		[src]="'assets/icons/starFillIcon.svg'"
		[alt]="'Filled star'"
		(click)="openCloseReview()"
	/>
</ng-template>
<ng-template #unfilledStar>
	<img
		[src]="'assets/icons/starOutlineIcon.svg'"
		[alt]="'Star'"
		(click)="openCloseReview()"
	/>
</ng-template>

<ng-template #reviewOpen>
	<mw-grade
		[grade]="track.grade"
		(hideReviewBox)="closeReview($event)"
	></mw-grade>
</ng-template>
