<div class="contentWrapper">
    <div class="content">
        <div class="details">
            <div class="cover">
                <img class="cover-img" src="assets/photos/test-cover.jpg"/>
            </div>
            <div class="info">
                <div class="mobile-favorite-wrapper">
                    <div class="mobile-favorite-box">
                        <img class="mobile-favorite-icon" src="assets/icons/favoriteIcon.svg"/>
                    </div>
                </div>
                <div class="song-title">
                    Song title
                </div>
                <div id="your-grade">
                    Your grade:
                </div>
                <div>
                    Ratings:
                </div>
                <div>
                    Author:
                </div>
                <div>
                    Genre:
                </div>
                <div>
                    Album:
                </div>
            </div>
            <div class="favorite-box">
                <img class="favorite-icon" src="assets/icons/favoriteIcon.svg"/>
            </div>
        </div>
        <div class="reviews">

        </div>
    </div>
</div>>
