<div class="contentWrapper">
	<div class="content">
		<div class="details" *ngIf="track">
			<div class="cover">
				<img class="cover-img" [srcset]="track | coverSrcset" />
			</div>
			<div class="info">
				<div class="mobile-favorite-wrapper">
					<div class="mobile-favorite-box">
						<img
							class="mobile-favorite-icon"
							src="assets/icons/favoriteIcon.svg"
							[ngClass]="
								!!track.isFavourite ? 'in-favourite' : ''
							"
							(onclick)="addToFav()"
						/>
					</div>
				</div>
				<div class="song-title row">
					<div class="col h1">{{ track.title }}</div>
				</div>
				<mw-text-with-label
					id="your-grade"
					class="row"
					[label]="'Your grade'"
					[message]="track.grade.toString()"
					*ngIf="track.grade"
				></mw-text-with-label>

				<mw-text-with-label
					class="row"
					[label]="'Ratings'"
					[message]="track.rates?.averageRanking?.toString() || '0'"
					[messageTemplate]="ratingMessageTemplate"
				></mw-text-with-label>

				<mw-text-with-label
					class="row"
					[label]="'Artist'"
					[message]="track.artist.name"
				></mw-text-with-label>

				<mw-text-with-label
					*ngIf="track.genre"
					class="row"
					[label]="'Genre'"
					[message]="track.genre"
				></mw-text-with-label>

				<mw-text-with-label
					class="row pointer text-link"
					[label]="'Album'"
					[message]="track.albumTitle"
					[routerLink]="[
						'/musicweb/home/albumdetails',
						track.albumId
					]"
				></mw-text-with-label>

				<mw-text-with-label
					class="row"
					[label]="'Duration'"
					[message]="track.duration | duration"
				></mw-text-with-label>

				<mw-text-with-label
					class="row"
					[label]="'Release date'"
					[message]="track.releaseData"
				></mw-text-with-label>

				<audio
					class="col-10"
					controls
					#audioTrack
					preload="auto"
					[src]="track.preview"
				></audio>
			</div>
			<div class="favorite-box">
				<img
					class="favorite-icon"
					src="assets/icons/favoriteIcon.svg"
					[ngClass]="!!track.isFavourite ? 'in-favourite' : ''"
					(onclick)="addToFav()"
				/>
			</div>
		</div>
		<mw-reviews
			[id]="track.id"
			[reviews]="track.rates?.reviews"
			[reviewType]="reviewType.TRACK"
			[grade]="track.grade"
		></mw-reviews>
	</div>
</div>

<ng-template #ratingMessageTemplate>
	<div>
		<span class="align-middle">{{
			track.rates?.averageRanking || '0' + ' '
		}}</span>
		<span class="align-middle icon-middle">
			<ng-container
				*ngTemplateOutlet="
					track.grade === 0 ? filledStar : unfilledStar
				"
			></ng-container>
			<ng-container
				*ngIf="isReviewBoxOpen"
				[ngTemplateOutlet]="reviewOpen"
			></ng-container>
		</span>
		<span class="align-middle" *ngIf="!!track.rates"
			>{{ ' based on ' + track.rates.reviews.length + ' opinions' }}
		</span>
	</div>
</ng-template>

<ng-template #filledStar>
	<img
		[src]="'assets/icons/starFillIcon.svg'"
		[alt]="'Filled star'"
		(click)="openCloseReview()"
	/>
</ng-template>
<ng-template #unfilledStar>
	<img
		[src]="'assets/icons/starOutlineIcon.svg'"
		[alt]="'Star'"
		(click)="openCloseReview()"
	/>
</ng-template>

<ng-template #reviewOpen>
	<mw-grade
		class="float-wrapper pointer"
		[(grade)]="track.grade"
		[id]="track.id"
		[reviewType]="reviewType.TRACK"
		(hideReviewBox)="closeReview()"
	></mw-grade>
</ng-template>
