.contentWrapper {
	min-height: 100%;
	width: 100%;
	.content {
		margin: 3%;
		padding: 1em;
		background: #d9dbda;
		.details {
			margin: 3% 1% 3% 3%;
			display: flex;
			flex-direction: row;
			height: 80%;
			width: 95%;

			.cover {
				width: 30%;
				display: flex;
				align-items: center;

				.cover-img {
					width: 100%;
					aspect-ratio: 1 / 1;
				}
			}

			.info {
				padding-left: 0.4em;
				width: 70%;
				font-size: 3em;
				display: grid;
				grid-auto-rows: 0.5fr 0.5fr 1fr 1fr 1fr 1fr;

				#your-grade {
					font-size: 0.5em;
				}

				.mobile-favorite-wrapper {
					display: none;
				}

				@media screen and (max-width: 1000px) {
					font-size: 2em;
				}
			}

			.favorite-box {
				position: relative;

				.favorite-icon {
					position: absolute;
					top: 0;
					right: 0;
					color: black;
					filter: invert(2%) sepia(3%) saturate(2799%)
						hue-rotate(349deg) brightness(104%) contrast(97%);
				}
			}

			.icon-middle {
				display: inline-flex;
			}

			@media screen and (max-width: 650px) {
				flex-direction: column;

				.cover {
					width: 80%;
					margin: auto;
					aspect-ratio: 1/1;
					position: relative;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
				}

				.info {
					padding: 0;
					margin-top: 0.5em;
					width: 100%;
					grid-auto-rows: 0fr 1.5fr 1.5fr 2fr 2fr 2fr 1fr;

					.mobile-favorite-wrapper {
						width: 100%;
						.mobile-favorite-box {
							position: relative;
							.mobile-favorite-icon {
								position: absolute;
								top: 0;
								right: 0;
								filter: invert(2%) sepia(3%) saturate(2799%)
									hue-rotate(349deg) brightness(104%)
									contrast(97%);
							}
						}
					}
				}

				.favorite-box {
					display: none;
				}

				.in-favourite {
					filter: invert(13%) sepia(87%) saturate(4856%)
						hue-rotate(357deg) brightness(71%) contrast(113%);
				}
			}
		}
	}
}
