app-error-notification {
	width: 100% !important;
	margin-bottom: 24px;
	mat-card {
		background-color: $primary-error-bg !important;
		mat-card-content {
			color: $primary-error-text;
			padding: 24px;
		}
	}
}
