mw-root {
	main {
		height: 100%;
		width: 100vw;
		display: grid;
		transition: 500ms ease-in-out;

		.inner-bar {
			height: 100%;
		}

		mat-drawer {
			background-color: $primary-navy-1 !important;
		}

		mat-drawer-content {
			background-color: $primary-white !important;
		}
	}
}
