mw-reviews {
	.reviews {
		margin: 3% 1% 3% 3%;
		width: 95%;
		display: flex;
		flex-direction: column;
		gap: 10px;

		mw-grade {
			font-size: 1.5rem;
		}

		mw-review {
			color: $primary-white;
		}
	}
}
