<div class="review-wrapper">
	<div class="triangle"></div>
	<div class="review-content">
		<div class="grade">
			<div class="col-10 grades">
				<ng-container *ngFor="let i of sequence(hoveredGrade)">
					<img
						[src]="'assets/icons/starfilledIcon.svg'"
						[alt]="'Filled star'"
						(click)="hoverGrade(i)"
					/>
				</ng-container>
				<ng-container *ngFor="let i of sequence(10 - hoveredGrade)">
					<img
						[src]="'assets/icons/starOutlineIcon.svg'"
						[alt]="'Star'"
						(click)="hoverGrade(10 - i)"
					/>
				</ng-container>
			</div>
			<div class="col-2">
				{{
					selectedGrade
						? selectedGrade + '/10'
						: grade
						? grade + '/10'
						: 'NA'
				}}
			</div>
		</div>
		<div class="review">
			<div class="form-floating">
				<textarea
					class="form-control"
					placeholder="Leave a review here"
					id="reviewArea"
					[rows]="4"
					[formControl]="review"
				></textarea>
				<label for="reviewArea">Review</label>
				<img
					[src]="'assets/icons/saveIcon.svg'"
					[alt]="'Save review'"
					[matTooltip]="'Save review'"
					[matTooltipPosition]="'right'"
					(click)="saveReview()"
				/>
			</div>
		</div>
	</div>
</div>
