mw-grade {
	position: absolute;
	width: 35vw;
	top: -2.4rem;
	left: 1em;

	.review-wrapper {
		position: relative;

		.triangle {
			width: 10px;
			height: 10px;
			transform: rotate(-45deg);
			top: 2.6rem;
			left: -5px;
			background: $primary-brown-3;
			position: absolute;
		}

		.review-content {
			display: grid;
			grid-template-rows: 0.5fr 1fr 5fr;
			background: $primary-brown-3;
			padding: 0.7rem 0.3rem;
			border-radius: 10px;

			.close {
				display: flex;
				justify-content: flex-end;
				color: $primary-white;
			}

			.grades {
				gap: 6px;
				color: $primary-white;
				display: flex;
				align-items: center;
				padding-left: 3px;
				font-size: 0.7em;
			}

			.your-grade-wrapper {
				display: flex;
				justify-content: flex-end;
				flex-grow: 1;
			}
		}

		.form-floating {
			img {
				position: absolute;
				right: 0;
				top: 0;
				aspect-ratio: 1;
				height: 1em;
				filter: invert(97%) sepia(5%) saturate(48%) hue-rotate(97deg)
					brightness(94%) contrast(95%);
			}

			&:not(.form-control:disabled)::before {
				z-index: -1;
			}
		}
	}
}
