@import '../../../variables';

mw-side-nav-item {
	cursor: pointer;

	&:hover {
		background-color: $primary-navy-2;
	}
	.row {
		align-items: center;
		img {
			cursor: pointer;
		}
	}

	&.filter-color {
		img {
			filter: invert(93%) sepia(3%) saturate(81%) hue-rotate(96deg)
				brightness(105%) contrast(94%);
		}
	}

	.text {
		min-width: 200px;
	}
}
