mw-register {
	section {
		overflow: hidden;

		.form-title {
			padding-top: 24px;
			img {
				filter: invert(64%) sepia(32%) saturate(256%) hue-rotate(347deg)
					brightness(87%) contrast(85%);
				height: 1em;
			}
		}

		form {
			display: flex;
			flex-direction: column;
			margin: auto;
			justify-items: center;
			padding-bottom: 24px;
			width: 45%;

			button[mat-raised-button] {
				border-radius: 0.5rem !important;
				background-color: $primary-navy-1 !important;
				color: $primary-white !important;

				&:hover {
					background-color: $primary-navy-2 !important;
				}
			}

			button[mat-button].text-btn {
				border-radius: 0.5rem !important;
				background-color: $primary-white !important;
				color: $primary-navy-1 !important;
				margin-top: 24px;

				&:hover {
					background-color: $primary-white !important;
					border: 1px solid $primary-navy-1;
				}
			}

			.passwordField {
				.mat-mdc-form-field-subscript-wrapper {
					display: grid;

					.mat-mdc-form-field-error-wrapper {
						position: static;
					}
				}

				.mat-mdc-form-field-bottom-align::before {
					height: 0 !important;
				}
				margin-bottom: 16px;
			}

			.password-errors {
				&::before {
					height: 0;
				}

				display: flex;
				flex-direction: column;
			}
		}

		@media only screen and (max-device-width: 915px) {
			form {
				width: 85%;
			}
		}
	}
}
