<div class="side-header">
	<div class="row">
		<div class="col-auto">
			<img
				[src]="'assets/icons/musicWebIcon.svg'"
				[alt]="'Menu logo button'"
				(click)="openStateChange()"
				class="logoIcon"
			/>
		</div>
		<div class="col h3" *ngIf="isLogged && !withoutLabel">
			{{ 'Hi ' + user?.nickname }}
		</div>
	</div>
</div>
<div class="side-content">
	<mw-side-nav-item
		class="row text-center"
		*ngFor="let tab of tabs"
		[routerLink]="tab.routerLink"
		routerLinkActive="active-link"
		[sideNavData]="tab"
		[isOpen]="fixedOpen || open"
		[withoutLabel]="withoutLabel"
		[ngClass]="tab?.additionalClass"
	>
	</mw-side-nav-item>
</div>

<div class="side-footer">
	<ng-teplate [ngTemplateOutlet]="isLogged ? logged : notLogged"></ng-teplate>
	<ng-template #logged>
		<mw-side-nav-item
			class="row text-center"
			[isOpen]="fixedOpen || open"
			[sideNavData]="{
				message: 'Logout',
				iconLink: 'logoutIcon.svg'
			}"
			[withoutLabel]="withoutLabel"
			(click)="logout()"
		>
		</mw-side-nav-item>
	</ng-template>
	<ng-template #notLogged>
		<mw-side-nav-item
			class="row text-center"
			[isOpen]="fixedOpen || open"
			[sideNavData]="{
				message: 'Sing up',
				iconLink: 'personAddIcon.svg'
			}"
			[routerLink]="'/register'"
			[withoutLabel]="withoutLabel"
		>
		</mw-side-nav-item>
		<mw-side-nav-item
			class="row text-center"
			[isOpen]="fixedOpen || open"
			[sideNavData]="{
				message: 'Login',
				iconLink: 'loginIcon.svg'
			}"
			[routerLink]="'/login'"
			[withoutLabel]="withoutLabel"
		>
		</mw-side-nav-item>
	</ng-template>
</div>
