<div class="side-header">
	<div class="row">
		<div>
			<img
				[src]="'assets/icons/musicWebIcon.svg'"
				[alt]="'Menu logo button'"
				[height]="48"
				(click)="openStateChange()"
			/>
		</div>
		<h2 class="col-6 h2" *ngIf="isLogged">{{ 'Hi user' }}</h2>
	</div>
</div>
<div class="side-content">
	<mw-side-nav-item
		class="row text-center"
		*ngFor="let tab of tabs"
		[routerLink]="tab.routerLink"
		routerLinkActive="active-link"
		[sideNavData]="tab"
		[isOpen]="isOpen"
	>
	</mw-side-nav-item>
</div>

<div class="side-footer">
	<ng-template *ngIf="isLogged; else notLogged">
		<mw-side-nav-item
			class="row text-center"
			[isOpen]="isOpen"
			[sideNavData]="{
				message: 'Logout',
				iconLink: 'logoutIcon.svg'
			}"
		>
		</mw-side-nav-item>
	</ng-template>
	<ng-template #notLogged>
		<mw-side-nav-item
			class="row text-center"
			[isOpen]="isOpen"
			[sideNavData]="{
				message: 'Sing up',
				iconLink: 'personAddIcon.svg'
			}"
			[routerLink]="'/register'"
		>
		</mw-side-nav-item>
		<mw-side-nav-item
			class="row text-center"
			[isOpen]="isOpen"
			[sideNavData]="{
				message: 'Login',
				iconLink: 'logoutIcon.svg'
			}"
			[routerLink]="'/login'"
		>
		</mw-side-nav-item>
	</ng-template>
</div>
