<div class="side-header">
	<div class="row">
		<div>
			<img
				[src]="'assets/icons/musicWebIcon.svg'"
				[alt]="'Menu logo button'"
				(click)="openStateChange()"
			/>
		</div>
		<h2 class="col-6 h2" *ngIf="isLogged && !withoutLabel">
			{{ 'Hi user' }}
		</h2>
	</div>
</div>
<div class="side-content">
	<mw-side-nav-item
		class="row text-center"
		*ngFor="let tab of tabs"
		[routerLink]="tab.routerLink"
		routerLinkActive="active-link"
		[sideNavData]="tab"
		[isOpen]="fixedOpen || open"
		[withoutLabel]="withoutLabel"
	>
	</mw-side-nav-item>
</div>

<div class="side-footer">
	<ng-template *ngIf="isLogged; else notLogged">
		<mw-side-nav-item
			class="row text-center"
			[isOpen]="fixedOpen || open"
			[sideNavData]="{
				message: 'Logout',
				iconLink: 'logoutIcon.svg'
			}"
			[withoutLabel]="withoutLabel"
		>
		</mw-side-nav-item>
	</ng-template>
	<ng-template #notLogged>
		<mw-side-nav-item
			class="row text-center"
			[isOpen]="fixedOpen || open"
			[sideNavData]="{
				message: 'Sing up',
				iconLink: 'personAddIcon.svg'
			}"
			[routerLink]="'/register'"
			[withoutLabel]="withoutLabel"
		>
		</mw-side-nav-item>
		<mw-side-nav-item
			class="row text-center"
			[isOpen]="fixedOpen || open"
			[sideNavData]="{
				message: 'Login',
				iconLink: 'loginIcon.svg'
			}"
			[routerLink]="'/login'"
			[withoutLabel]="withoutLabel"
		>
		</mw-side-nav-item>
	</ng-template>
</div>
