<div class="contentWrapper">
	<div class="content" *ngIf="album">
		<div class="details">
			<div class="cover">
				<img class="cover-img" [srcset]="album | coverSrcset" />
			</div>
			<div class="info">
				<div *ngIf="isAuth" class="mobile-favorite-wrapper">
					<div class="mobile-favorite-box">
						<img
							class="mobile-favorite-icon"
							src="assets/icons/favoriteIcon.svg"
							[ngClass]="
								!!album.isFavourite ? 'in-favourite' : ''
							"
							(click)="handleFavChange()"
						/>
					</div>
				</div>
				<div class="song-title row">
					<div class="col h1">{{ album.title }}</div>
				</div>
				<mw-text-with-label
					id="your-grade"
					class="row"
					[label]="'Your grade'"
					[message]="grade.toString() || '0'"
					*ngIf="album.rates?.currentUserGrade || grade"
				></mw-text-with-label>

				<mw-text-with-label
					class="row"
					[label]="'Ratings'"
					[message]="album.rates?.averageRanking?.toString() || '0'"
					[messageTemplate]="ratingMessageTemplate"
				></mw-text-with-label>

				<mw-text-with-label
					class="row"
					[label]="'Artist'"
					[message]="album.artist.name"
				></mw-text-with-label>

				<mw-text-with-label
					*ngIf="album.genres"
					class="row"
					[label]="'Genre'"
					[message]="album.genres.data[0].name"
				></mw-text-with-label>

				<mw-text-with-label
					class="row"
					[label]="'Release date'"
					[message]="album.releaseDate"
				></mw-text-with-label>

				<mw-text-with-label
					class="row"
					[label]="'Track list:'"
				></mw-text-with-label>

				<div class="song-wrapper">
					<ng-container
						*ngFor="let track of album.tracks; index as i"
					>
						<div
							class="h3 pointer text-link"
							[routerLink]="['/musicweb/home/details', track.id]"
						>
							<div>{{ i + 1 + '. ' + track.title }}</div>
						</div>
					</ng-container>
				</div>
			</div>
			<div class="favorite-box" *ngIf="isAuth">
				<img
					class="favorite-icon"
					src="assets/icons/favoriteIcon.svg"
					[ngClass]="!!album.isFavourite ? 'in-favourite' : ''"
					(click)="handleFavChange()"
					[matTooltip]="
						!album.isFavourite
							? 'Add to favourites'
							: 'Remove from favourites'
					"
					[matTooltipPosition]="'right'"
				/>
			</div>
		</div>
		<mw-reviews
			[id]="album.id"
			[reviews]="album.rates?.reviews"
			[reviewType]="reviewType.ALBUM"
			[(grade)]="grade"
		></mw-reviews>
	</div>
</div>

<ng-template #ratingMessageTemplate>
	<div>
		<span class="align-middle">{{
			album.rates?.averageRanking || '0' + ' '
		}}</span>
		<span class="align-middle icon-middle">
			<ng-container
				*ngTemplateOutlet="grade !== 0 ? filledStar : unfilledStar"
			></ng-container>
			<ng-container
				*ngIf="isReviewBoxOpen && isAuth"
				[ngTemplateOutlet]="reviewOpen"
			></ng-container>
		</span>
		<span class="align-middle" *ngIf="!!album.rates"
			>{{ ' based on ' + album.rates.reviews.length + ' opinions' }}
		</span>
	</div>
</ng-template>

<ng-template #filledStar>
	<img
		[src]="'assets/icons/starFillIcon.svg'"
		[alt]="'Filled star'"
		(click)="openCloseReview()"
		[ngClass]="isAuth ? 'star-pointer' : ''"
	/>
</ng-template>
<ng-template #unfilledStar>
	<img
		[src]="'assets/icons/starOutlineIcon.svg'"
		[alt]="'Star'"
		(click)="openCloseReview()"
		[ngClass]="isAuth ? 'star-pointer' : ''"
	/>
</ng-template>

<ng-template #reviewOpen>
	<mw-grade
		class="float-wrapper pointer"
		[(grade)]="grade"
		[id]="album.id"
		[reviewType]="reviewType.ALBUM"
		(hideReviewBox)="closeReview()"
	></mw-grade>
</ng-template>
