mw-header {
	header {
		display: grid;
		position: relative;
		background-color: $primary-brown-2;
		color: $primary-white;
		justify-content: center;

		.search {
			position: absolute;
			top: 0;
			bottom: 0;
		}
	}
}
