mw-header {
	header {
		display: grid;
		position: relative;
		background-color: $primary-brown-2;
		color: $primary-white;
		justify-content: center;
		min-height: 1em;
		padding-right: 24px;
		justify-content: flex-end;

		.search {
			position: absolute;
			top: 0;
			bottom: 0;
		}

		.title {
			display: flex;
			align-items: center;
		}

		@media screen and (max-width: 650px) {
			display: block;
			height: 5vh;

			.search {
				width: 100%;
			}

			.title {
				display: none;
			}
		}
	}
}
