<div class="ranking-wrapper">
	<div class="ranking-header">
		<div class="title h2 text-center">Rankings</div>
		<div class="rank-type">
			<button
				class="h5"
				[ngClass]="selectedType === ReviewType.TRACK ? 'active' : ''"
				(click)="changeSelectedType(ReviewType.TRACK)"
			>
				Tracks
			</button>
			<button
				class="h5"
				[ngClass]="selectedType === ReviewType.ALBUM ? 'active' : ''"
				(click)="changeSelectedType(ReviewType.ALBUM)"
			>
				Albums
			</button>
			<div class="dropdown-center">
				<button
					class="dropdown-toggle h5"
					data-bs-toggle="dropdown"
					aria-expanded="false"
					[disabled]="isArtistDropdownDisabled"
				>
					{{ artistFilter?.name || 'Artist' }}
				</button>
				<ul class="dropdown-menu">
					<li (click)="clearArtistFilter()">No filter</li>
					<li *ngFor="let artist of artists">
						<button
							class="dropdown-item"
							(click)="filterArtist(artist)"
						>
							{{ artist.name }}
						</button>
					</li>
				</ul>
			</div>
			<div class="dropdown-center">
				<button
					class="dropdown-toggle h5"
					data-bs-toggle="dropdown"
					aria-expanded="false"
					[disabled]="isGenreDropdownDisabled"
				>
					{{ genreFilter || 'Genre' }}
				</button>
				<ul class="dropdown-menu">
					<li (click)="clearGenreFilter()">No filter</li>
					<li *ngFor="let genre of genres">
						<button
							class="dropdown-item"
							(click)="filterGenre(genre)"
						>
							{{ genre }}
						</button>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div *ngIf="ranking.length !== 0; else emptyRanking" class="ranking">
		<div class="ranking-list">
			<ng-container *ngFor="let rankingElement of ranking; index as i">
				<mw-list-item
					*ngIf="i > 2; else podiumElement"
					[rating]="rankingElement.ranking"
					[rank]="i + 1"
					[title]="rankingElement.title"
					[genre]="rankingElement?.genre"
					[coverLink]="rankingElement.coverLink"
				></mw-list-item>
				<ng-template #podiumElement>
					<mw-podium-item
						[position]="i + 1"
						[coverLink]="rankingElement.coverLink"
						[title]="rankingElement.title"
						[rate]="rankingElement.ranking"
						[id]="
							rankingElement.reviews[0].reviewSubjectId.toString()
						"
					>
					</mw-podium-item>
				</ng-template>
			</ng-container>
		</div>
	</div>
</div>

<ng-template #emptyRanking>
	<div class="no-results">
		<img
			[src]="'assets/photos/no-results.png'"
			[width]="256"
			[alt]="'No results'"
		/>
		<div class="h3">There is no ranking yet for that query</div>
	</div>
</ng-template>
