<div class="ranking-wrapper">
	<div class="ranking-header">
		<div class="title h2 text-center">Rankings</div>
		<div class="rank-type">
			<button
				class="h5"
				[ngClass]="selectedType === ReviewType.TRACK ? 'active' : ''"
				(click)="changeSelectedType(ReviewType.TRACK)"
			>
				Tracks
			</button>
			<button
				class="h5"
				[ngClass]="selectedType === ReviewType.ALBUM ? 'active' : ''"
				(click)="changeSelectedType(ReviewType.ALBUM)"
			>
				Albums
			</button>
			<div class="dropdown-center">
				<button
					class="dropdown-toggle h5"
					data-bs-toggle="dropdown"
					aria-expanded="false"
					[disabled]="isArtistDropdownDisabled"
				>
					{{ artistFilter?.name || 'Artist' }}
				</button>
				<ul class="dropdown-menu">
					<li
						class="dropdown-item text-center pointer"
						(click)="clearArtistFilter()"
					>
						No filter
					</li>
					<li
						class="dropdown-item text-center pointer"
						*ngFor="let artist of artists"
						(click)="filterArtist(artist)"
					>
						{{ artist.name }}
					</li>
				</ul>
			</div>
			<div class="dropdown-center">
				<button
					class="dropdown-toggle h5"
					data-bs-toggle="dropdown"
					aria-expanded="false"
					[disabled]="isGenreDropdownDisabled"
				>
					{{ genreFilter || 'Genre' }}
				</button>
				<ul class="dropdown-menu">
					<li
						(click)="clearGenreFilter()"
						class="dropdown-item text-center pointer"
					>
						No filter
					</li>
					<li
						*ngFor="let genre of genres"
						class="dropdown-item text-center pointer"
						(click)="filterGenre(genre)"
					>
						{{ genre }}
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div *ngIf="ranking.length !== 0; else emptyRanking" class="ranking">
		<div class="ranking-list">
			<ng-container *ngFor="let rankingElement of ranking; index as i">
				<mw-list-item
					*ngIf="i > 2; else podiumElement"
					[rating]="rankingElement.ranking"
					[rank]="i + 1"
					[title]="rankingElement.title"
					[genre]="
						rankingElement?.genre || rankingElement.artist.name
					"
					[coverLink]="rankingElement.coverLink"
					[opinionsCount]="rankingElement.reviews.length"
					[reviewType]="selectedType"
					[id]="rankingElement.id"
					class="grid-column-span"
				></mw-list-item>
				<ng-template #podiumElement>
					<mw-podium-item
						[position]="i + 1"
						[coverLink]="rankingElement.coverPodiumLink"
						[title]="rankingElement.title"
						[rate]="rankingElement.ranking"
						[id]="rankingElement.id"
						[reviewType]="selectedType"
						[ngClass]="
							i === 0 ? 'first' : i === 1 ? 'second' : 'third'
						"
					>
					</mw-podium-item>
				</ng-template>
			</ng-container>
		</div>
	</div>
</div>

<div *ngIf="isSearching" class="overlay">
	<mat-spinner></mat-spinner>
</div>

<ng-template #emptyRanking>
	<div class="no-results" *ngIf="!isSearching">
		<img
			[src]="'assets/photos/no-results.png'"
			[width]="256"
			[alt]="'No results'"
		/>
		<div class="h3">There is no ranking yet for that query</div>
	</div>
</ng-template>
