mw-ranking {
	.ranking-wrapper {
		.ranking-header {
			background-color: $primary-gray-1;

			.rank-type {
				display: flex;
				width: 100%;
				justify-content: space-around;

				button {
					background-color: $primary-gray-1;
					border: none;

					&.active {
						border-bottom: 2px solid $primary-brown-1;
					}

					&:disabled {
						color: $secondary-black-2;
					}
				}
			}
		}

		.ranking {
			padding: 10px 2% 24px 2%;

			.ranking-list {
				display: grid;
				grid-template-columns: 1.2fr 1.5fr 1.1fr;
				gap: 10px;
				justify-content: center;

				.grid-column-span {
					grid-column: 1 / span 3;
				}

				.first {
					grid-column: 2;
					grid-row: 1;

					.podium-item-wrapper {
						width: 300px;
					}
				}

				.second {
					grid-column: 1;
					grid-row: 1;
					padding: 20px;

					.podium-item-wrapper {
						max-width: 280px;
						width: 300px;
					}
				}

				.third {
					grid-column: 3;
					grid-row: 1;
					padding: 50px;

					.podium-item-wrapper {
						max-width: 250px;
						width: 300px;
					}
				}

				mw-podium-item {
					display: grid;
					justify-items: center;
				}
			}
		}

		.no-results {
			padding-top: 4em;
			img {
				justify-self: center;
			}

			display: grid;
			justify-content: center;
			gap: 10px;
		}
	}
}
