$primary-black: #0a0908;
$primary-white: #f2f4f3;
$primary-brown-1: #5e503f;
$primary-brown-2: #a9927d;
$primary-brown-3: #7e7265;
$primary-navy-1: #22333b;
$primary-navy-2: #38474e;
$primary-gray-1: #d9dbda;
$primary-gray-2: #e9ebea;
$secondary-red: #aa0000;
$secondary-gold: #d4af37;
$secondary-silver: #c0c0c0;
$secondary-bronze: #cd7f32;
$secondary-brown-1: #9e968b;
$secondary-gray: #e9ebea;
$primary-error-bg: rgba(255, 51, 51, 0.6666666667);
$secondary-error-text: rgba(255, 51, 51, 0.88888);
$primary-error-text: rgb(204, 0, 0);
$secondary-black: #6c6b6a;
$secondary-black-2: #938f8f;
