/* You can add global styles to this file, and also import other style files */
@import 'variables.scss';
html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Iceland;
	background: $primary-white;
}

* {
	box-sizing: border-box;
	font-family: Iceland;
}

.icon {
	padding: 0.2em;
}

.logoIcon {
	filter: invert(100%) sepia(79%) saturate(483%) hue-rotate(140deg)
		brightness(118%) contrast(91%);
}

.pointer {
	cursor: pointer;
}

@import './app/app.module.scss';
@import './home/home.module.scss';
@import './sidenav/sidenav.module.scss';
@import './search/search.module.scss';
@import './register/register.module.scss';
@import './login/login.module.scss';
@import './shared/shared.module.scss';
@import './details/details.module.scss';
@import './home/reviews-module/reviews.module.scss';
@import './home/favourites-module/favourites.modules.scss';
@import './rankings/rankings.module.scss';
