/* You can add global styles to this file, and also import other style files */
@import 'variables.scss';

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Iceland;
}

* {
	box-sizing: border-box;
	font-family: Iceland;
}

@import './app/app.module.scss';
@import './sidenav/sidenav.module.scss';
