<main>
	<ng-container
		*ngTemplateOutlet="isMobile ? mobile : desktop"
	></ng-container>
</main>

<ng-template #desktop>
	<mat-drawer-container class="desktopview" [hasBackdrop]="false">
		<mat-drawer [disableClose]="true" [opened]="!isOpen" [mode]="'side'">
			<mw-side-nav [withoutLabel]="true" [(open)]="isOpen"></mw-side-nav>
		</mat-drawer>
		<mat-drawer-content>
			<mat-drawer-container class="inner-bar" [hasBackdrop]="false">
				<mat-drawer
					[disableClose]="true"
					class="sidenav"
					[mode]="'push'"
					[opened]="isOpen"
				>
					<mw-side-nav
						[fixedOpen]="true"
						[(open)]="isOpen"
					></mw-side-nav>
				</mat-drawer>
				<mat-drawer-content (click)="hidebar()">
					<mw-header
						class="header h1"
						[title]="'musicWeb'"
					></mw-header>
					<section class="content">
						<router-outlet></router-outlet>
					</section>
				</mat-drawer-content>
			</mat-drawer-container>
		</mat-drawer-content>
	</mat-drawer-container>
</ng-template>

<ng-template #mobile>
	<div class="mobileview">
		<mw-top-nav class="mobilenav" [title]="'musicWeb'"></mw-top-nav>
		<mw-header class="header h1" [title]="'musicWeb'"></mw-header>
		<section class="content">
			<router-outlet></router-outlet>
		</section>
	</div>
</ng-template>
