app-custom-snackbar {
	&.success {
		background-color: #ddffdd;
		color: #00b337;
		border: 1px solid #00b337;
	}
}

mat-snack-bar-container.success > div {
	background-color: #00b337 !important;
	border: 1px solid #ddffdd;

	mw-custom-snackbar > * {
		color: #ddffdd;
	}
}

mat-snack-bar-container.error > div {
	background-color: $secondary-error-text !important;
	border: 1px solid #ddffdd;

	mw-custom-snackbar > * {
		color: #ddffdd;
	}
}

mat-snack-bar-container {
	max-width: 30vw;
}
